table {
  margin: 0 0 2rem 0;
  padding: 0;
  width: 90%;
  border: 1px solid black;
  vertical-align: baseline;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  border: 1px solid black;
  padding: 0.6rem;
  font-size: 0.8rem;
}

thead th {
  text-align: center;
  background-color: var(--off-white);
  font-weight: 600;
}

.textCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}


/*tbody td:last-child,*/
/*thead th:last-child*/
/*{*/
/*  display: none;*/
/*}*/
