.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: var(--white-shade);
  padding: 2rem;
  border-radius: 0.5rem;
  width: 90%;
  max-width: 400px;
  position: relative;
  text-align: center;
}

.titleText {
    color: var(--primary-color);
}

.closeButton {
    position: absolute;
    top: 0.5rem;
    right: 0.7rem;
    background: none;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--primary-color);
}

.input {
  width: 100%;
  padding: 0.6rem;
  margin: 1rem 0;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
}

.submitBtn {
  /*background: #4a90e2;*/
  background: var(--secondary-color);
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: var(--primary-color);
}

.success {
  color: green;
  margin-top: 1rem;
}

.error {
  color: red;
  margin-top: 1rem;
}
